.trendingSectionMainContainer{
    width: 100%;
    padding: 1.5rem 2rem;
    margin-top: 0.2rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.trendingSectionMainContainer span{
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -0.04em;
    line-height: 1.3;
}