.artistCardMainContainer {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    white-space: nowrap;
}

.artistCardMainContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.artistCard {
    background: #111111;
    padding: 1rem;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    width: 180px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.artistCard:hover {
    background: #282828;
    cursor: pointer;
}

.artistCard img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.artistCard h3 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0 0.5rem;
}
#playButton{
    background-color: green;
    background-image: image("icon.png");
    height: 30px;
    width: 30px;
    background-image: url('./components/artistCard/icon.png');
    position: absolute;
    bottom: 0;
    right: 12px;
    border-radius: 50%;
    display: none;
}
.artistCard span img{
    height: 30px;
    width: 30px;
  

}
.artistCard:hover #playButton{
display: inline;
}