.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex: 1;
    height: calc(100vh - 60px); /* Adjust based on your navbar height */
}

.main-content {
    flex: 1;
    
    margin-left: 0px;
    overflow-y: auto; /* For scrolling if content is too long */
    background-color: #111111; /* Spotify-like dark background */
}

/* If your sidebar needs a specific width */
.sidebar {
    width: 300px; /* Typical Spotify sidebar width */
    min-width: 300px;
}

.main-container{
  
  height: 112.6vh;
  width: 1500px;
}

.mainSectionContentContainer{
 
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.main{
 height: 90%;
border: 2px solid yellow;
}